body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f1f1f1, #949494);
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.box {
    max-width: 800px;
    width: 90%;
    padding: 2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: white;
    color: #007bff;
}

.output {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
}
